<div class="bg-gray-700 py-2 mt-5 mx-2">
    <button (click)="paginar('-')" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-4 border border-gray-400 rounded shadow">prev</button>
    <button (click)="paginar('+')" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-4 border border-gray-400 rounded shadow">next</button>
    <span class="text-xl ml-2 text-white">Vista:</span>
    <select (click)="paginar(pag.value)" #pag class="shadow appearance-none border rounded py-1 px-3 text-gray-700 font-bold leading-tight focus:outline-none hover:bg-gray-100 cursor-pointer">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>
<div class="relative overflow-x-auto mx-2">
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Id
            </th>
            <th scope="col" class="px-6 py-3">
                Nombre del producto
            </th>
            <th scope="col" class="px-6 py-3">
                Costo
            </th>
            <th scope="col" class="px-6 py-3">
                Oferta
            </th>
            <th scope="col" class="px-6 py-3">
                Detalles
            </th>
            <th scope="col" class="px-6 py-3">
                Acción
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let x of listProd | paginacion:page_size:page_number, let i=index">
        <td class="px-6 py-4">{{i+1}}</td>
        <td class="px-6 py-4">{{x.name}}</td>
        <td class="px-6 py-4">{{x.costo}}</td>
        <td class="px-6 py-4">{{x.oferta}}</td>
        <td class="px-6 py-4"></td>
        <td class="px-6 py-2">
            <button class="text-white bg-gradient-to-br from-rose-600 to-red-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-lg px-5 py-1k text-center mr-2" (click)="borrar(x)">
                <span class="bi bi-trash"></span>
            </button>
        </td>
        </tr>
    </tbody>
</table>
</div>
