:host{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.2);
}
.login{
    height: 80vh;
    width: 50vw;
    h2{
        font-family: 'Nunito', sans-serif;
    }
}
.login-side{
    background: linear-gradient( to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ), url('https://c4.wallpaperflare.com/wallpaper/75/719/692/escalera-hogar-interior-muebles-wallpaper-preview.jpg');
    background-size: cover;
    h2{
        font-family: 'Roboto', sans-serif;
    }
}

@media screen and (max-width:1100px){
.login{
  width: 80vw;
}
}

@media screen and (max-width:600px){
  .login-side{
    display: none;
  }
  .login{
    width: 100%;
  }
  .login-side-r{
    width: 100%;
  }
}
