:host{
    display: block;
    min-height: 100vh;
}
nav{
    font-size: 1rem;
    opacity: 0.90;
    ul{
        font-family: 'Aboreto', sans-serif;
    }
}
.bi-arrows-expand{
    visibility: hidden;
}
/* media queries */
@media screen and (max-width:992px) {
    nav{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:768px) {
    .bi-arrows-expand{
        visibility: visible;
        font-size: 1.5rem;
        border: 2px solid black;
    }
    
}